<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xem tuoi</title>
    <meta>
</head>
<body>

<h2 style="background-color:Yellow; font-size:50px; text-align:center;">XEM NGŨ HÀNH VÀ HỢP TUỔI.</h2>

<p style="background-color:Red; font-size:30px; text-align:center;">
  <i>Nhập năm sinh âm lịch của bạn Trai và bạn Gái bên dưới.</i></p>

<form action="" method="post">
  <fieldset>
    <legend>Thông tin cá nhân:</legend>
    <label style="font-size:20px;" for="man">Bạn Trai:</label><br>
    <input style="font-size:20px;" type="number" id="man" name="man" placeholder="Năm sinh của nam" required><br>
    <label style="font-size:20px;" for="woman">Bạn Gái:</label><br>
    <input style="font-size:20px;" type="number" id="woman" name="woman" placeholder="Năm sinh của nữ" required><br><br>
    <input style="background-color:DodgerBlue; font-size:30px;" type="submit" name="ngu_hanh" value="Xem Ngũ Hành">
    <input style="background-color:MediumSeaGreen; font-size:30px;" type="submit" name="hop_tuoi" value="Xem Hợp Tuổi">
  </fieldset>

</form>
</body>
</html>